* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
    ul, ol, li {
        list-style: none;
    }
.MainDiv{
    background-color: chartreuse;
    position: relative;
    margin: 70px 0 60px 0;
    height: 100%;
    content: "";
    display: block; 
    clear: both;
  
  
   
}

.HeaderDiv{
    background-color: blueviolet;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    text-align: center;
    margin-left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
#universelist{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    align-items: center;
}
.FooterDiv{
    
    background-color: darkblue;
    position: relative;
    margin-top: 50px;
    bottom: 0;
    width: 100%;    
    text-align: center;    
    clear: both;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.LeftDiv{
    background-color: brown;   
    float: left;
    width: 30%;
   
    
    
}
.RightDiv{
    background-color: orange;
    float: right;
    width: 70%;
    text-align: center;
}
.LeftMenu{
    visibility: hidden;
    background-color:darkgreen ;
    position: absolute;
    float: left;
    width: 20%;
    height: 120%;
    top: 0;
    bottom: 0;
    text-align: center;;
    
}
.MainContainer{
    min-height: 100%;
    
    
}
.imgName{
    text-align: center;
    width:100%;
    position: relative;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.imgME{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.matrixicon{
    width: 25px;
    height: 20px;
    margin: 0 10px 0 0;
}
.myName{
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: brown;
    text-align: center;
    width: 100%;
    height: 35px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 80%;
}
.UpRightDiv{
    padding: 50px 50px 50px 50px;
    margin: 15px 15px 15px 15px;
    background-color: aqua;
}
.UpLeftDiv{
    padding: 50px 50px 50px 50px;
    margin: 0px 15px 15px 15px;
    background-color:darkmagenta;
}
.innerLeftDiv{
    
    margin: 15px 15px 15px 15px;
    background-color: green;
    text-align: center;
    align-items: center;
}
.skillDiv{
 border-radius: 5px;
 list-style: circle;
 background-color: aquamarine;
 border-radius: 15px;
 border-style: solid;
 border-width: 2px;
 border-color: yellow;
}
.progressSkills{
    width: 70%;
    background-color: whitesmoke;
    text-align: center;
    border:10px;
    
    
}
.progressLanguages{
    width: 70%;
    background-color: whitesmoke;
    text-align: center;
    
    
}
.languagesDiv{
    margin: 15px 0 15px 0;
    background-color: burlywood;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
}
.canvasDiv{
    float: right;
    width: 70%;
    background-color: lightskyblue;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.Maincanvas{
    width: 100%;
    height: 100%;
    background-image: url('../imgs/universeBackground.jpg');
    background-size: 100%;
}
.Listarrecebidas{
    float: left;
    width: 30%;
    background-color: lightcoral;

}
.SecondDiv{
    background-color: lightslategray;
}  
.personalInfo{
    font-size: 15px;
    margin: 15px 0  15px 0;
    border-radius: 15px;
    background-color: lightgrey;
    border-color: aqua;
    border-width: 1px;
    border-style: double;
}
.courseTitleTag{
    font-size: 100px;
    font-family: cursive;
    text-align: center;
}
.eachCourseTitle{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    padding: 10px 0 10px 0;
    
}
.dateCourse{
    font-size: 30px;
    font-family: cursive;
    padding: 10px 0 10px 0;
}
.CourseLevel{
    font-size: 30px;
    font-family: cursive;
    padding: 10px 0 10px 0;
}
.Imgcalendar{
    width: 8%;
    height: 7%;
    margin: 0 10px 0 10px;
}
.Imgdiploma{
    width: 8%;
    height: 7%;  
    margin: 0 10px 0 10px; 
}
.everycourse{
    padding: 15px 0 15px 0;
    text-align: left;
}
.Instituitionname{
    font-size: 30px;
    font-family: cursive;
    padding: 10px 0 10px 0;
}
.ImgSchool_diploma{
    width: 8%;
    height: 7%;  
    margin: 0 10px 0 10px; 
}
.JobImg{
    width: 10%;
    height: 10%;  
    margin: 0 10px 0 0; 
}
.Jobtitle{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    padding: 10px 0 0 0;
    text-align: left;
}
.WorkclassTittle{
    font-size: 100px;
    font-family: cursive;
    text-align: center;
}
.jobDescription{
    font-size: 30px;
    font-family: cursive;
    padding: 0 0 10px 0;
    text-align: left;
}
.jobDate{
    font-size: 30px;
    font-family: cursive;
    padding: 10px 0 10px 0;
    text-align: left;
}
.jobdateImg{
    width: 8%;
    height: 7%;
    margin: 0 10px 0 10px;
}
.descriptionImg{
    width: 10%;
    height: 7%;
    margin: 0 10px 0 0;
}
.EachCourseDiv{
    padding: 15px 0 15px 0;
    text-align: left;
}  
/*
Organizar por componente depois
*/
.IconImg{
    width: 10%;
    height: 7%;
    margin: 0 15px 0 0; 
}
.IconImgG{
    width: 14%;
    height: 7%;
    margin: 0 15px 0 0; 
}
.myinfo{
    padding: 10px 0 10px 0;
}
.TodolistDiv{
    margin: 15px 0 15px 0;
    background-color: burlywood;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
}
.Checkbox{
    transform: scale(1.3);
    margin-left: 10px;
}
.CheckboxName{
    font-size: 20px;
    font-family: fantasy;
   
}
.Advise1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
}